.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1;  
}
.fondo
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/gaming.png');
}
h1{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #0a0104;
    text-decoration: none;
    border: 2px solid;
    background: rgb(0, 217, 255);
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.gamePointer{
    cursor: pointer;
    background-color: rgba(0, 217, 255, 0.431);
    color: rgb(0, 0, 0);
    height: 500px;
    width: 500px;
    padding: 10px 40px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.gamePhoto{
    height: auto;
    width: auto;
}

.tiempo{
    float: top right;
    display: flex;
    color: #ffffff;
}

.usuario{
    float: left;
    display: flex;
    color: #ffffff;
}

