<div class="main">
     <header class="py-5">
          <div class="container px-lg-5">
               <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-0 m-lg-5">
                         <div class="image-div">
                              <img src="../../../assets/personal_pic.webp">
                         </div>
                         <div class="personal-info">
                              <h1 class="display-0 fw-bold">Mauro Racioppi</h1>
                              <p class="fs-4">Estudiante de Tecnicatura en Programación (UTN Fra)</p>
                              <p class="fs-4">Legajo 11923</p>
                              <p class="fs-4">mauroracioppi@gmail.com</p>
                         </div>
                    </div>
               </div>
          </div>
     </header>
     <!-- Page Content-->
     <hr size="1">
     <section class="pt-4">
          <div class="container px-lg-5">
               <!-- Page Features-->
               <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5" style="z-index: -1;">
                         <div class="card bg-light border-0 h-100">
                              <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                   <h2 class="fs-4 fw-bold">My Game: BlackJack</h2>
                                   <p class="mb-0">
                                        En el Blackjack, la meta es alcanzar 21 con el menor número de cartas posibles.<br> 
                                        Sus valores son:<br>
                                        <li>Cartas numeradas: el valor es el número de la carta.</li>
                                        <li>Las figuras (la jota o sota, la reina y el rey): su valor es de 10.</li>
                                        El jugador siempre tiene que jugar primero. Si el jugador se pasa (de 21), pierde automaticamente. La maquina es el último en jugar la mano. <br>
                                        Cuando es tu turno Tienes dos opciones básicas:<br>
                                        <li>Pedir: Pide otra carta. Puedes pedir hasta que te pases de 21.</li>
                                        <li>Quedarse: Te mantienes con tus cartas y no haces nada. No recibirás más cartas.</li>
                                        Para ganar, el jugador tiene que estar más cerca de 21 que la maquina, sin pasarse. Si el jugador supera la barrera del 21, entonces se "pasa" y pierde. Si la maquina pasa el puntaje del jugador siendo tambien menor o igual a 21, o ambos quedan en el mismo número, gana la maquina.
                                        Se reparte hasta que el jugador decida quedarse, Después juega la maquina lo que determina el final del juego. Obviamente cada mano es diferente.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
</div>
